.triangle {
  position: relative;
  width: 104px;
  height: 104px;
  margin: 0 auto 20px;
}
.triangle label {
  position: absolute;
  font-size: 0.8rem;
}
.sideA {
  left: -15px;
  top: 45px;
}
.sideB {
  left: 45px;
  top: 105px;
}
.sideC {
  left: 50px;
  top: 35px;
}
.label {
  font-weight: bold;
  display: inline-block;
}
.triangle .line1 {
  width: 100px;
  bottom: -102px;
}
.triangle div {
  height: 2px;
  background-color: #323c59;
}
.line {
  position: relative;
  bottom: -100px;
}
.triangle .line2 {
  width: 100px;
  transform: rotate(90deg);
  top: 50px;
  left: -50px;
}
.triangle .line3 {
  width: 141.42px;
  transform: rotate(45deg);
  top: 50px;
  left: -20px;
}
